		.head1,.head2,.head3,.head4{
			font-family:  'Merriweather', serif;
			color: #517293;
		}
		body{
			padding-top: 90px;
			background: #6B8CAD;
		}
		.zed{
			border-radius: 16px;
			max-width: 700px;
			background: #ecf0f1;
			border-image: linear-gradient(to right,rgba(9, 12, 15 ,0.1) , rgba(9,12,15,1), rgba(9, 12, 15 ,0.1));
    		border: 4px solid white;

		}
		.navbar-inverse .navbar-nav > li > a{
			color: white;
		}
		.hr3 {
			  border: 0;
			  background-image: linear-gradient(to right, rgba(179,179,179,0), rgba(179,179,179,0.8), rgba(179,179,179,0));
			  height: 1px;
			  width: 700px;
			}